@font-face {
  font-family: "Circular Book";
  src: url("../assets/fonts/CircularStd-Book.woff") format("woff");
}

@font-face {
  font-family: "Circular Book Italic";
  font-style: "italic";
  src: url("../assets/fonts/CircularStd-BookItalic.woff") format("woff");
}

@font-face {
  font-family: "Circular Bold";
  font-weight: bold;
  src: url("../assets/fonts/CircularStd-Bold.woff") format("woff");
}

@font-face {
  font-family: "Circular Bold Italic";
  font-weight: bold;
  font-style: "italic";
  src: url("../assets/fonts/CircularStd-BoldItalic.woff") format("woff");
}
