.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: var(--text-xxl);
  min-height: var(--text-lg);
  padding: 1em 1.5em;
  color: var(--black);
  background: #fff;
  box-shadow: none;
  border: 2px solid var(--black);
  cursor: pointer;
  &:focus,
  &:active {
    outline: none;
  }
  &:hover {
    text-decoration: none;
  }
}
.button--green {
  border-color: var(--green);
}
.button--yellow {
  border-color: var(--yellow);
}
