<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="eoin.codes" />
    <title>eoin.codes</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <section class="intro">
      <h1 class="intro__heading">Hi there, I’m Eoin. I’m a software engineer based 
        in London, UK. I love to solve problems 
        and build useful products and tools.</h1>
      <h2 class="intro__sub-heading">I currently build social, dating and business products at Bumble.</h2>
    </section>

    <section class="latest-blogs">
      <h3 class="latest-blogs__heading">Sometimes I write about this and that as I navigate through the tech world</h3>
      <article><a href="">6 Startups In 6 Months</a></article>
      <article><a href="">Moving from frontend to backend</a></article>
      <article><a href="">How to navigate the technical interview</a></article>
    </section>

    <footer class="footer">
      <a class="footer__email" href="mailto:hello@eoin.codes">hello@eoin.codes</a>
      <ul>
        <li><a href="https://www.linkedin.com/in/eoin-o-toole-4a838699/" target="_blank">LinkedIn</a></li>
        <li><a href="https://twitter.com/e0t00le" target="_blank">Twitter</a></li>
        <li><a href="https://github.com/eoinotoole" target="_blank">GitHub</a></li>
      </ul>
      <small>© 2021 eoin.codes</small>
    </footer>

    <script src="bundle.js"></script>
  </body>
</html>