.intro-wrap {
  background: var(--bgBlue);
}
.intro {
  padding: var(--space-xl) 0;
  margin: 0 auto;
  @media (min-width: $desktop) {
    max-width: 1120px;
  }
  h1 {
    display: none;
  }
  p {
    font-size: var(--text-lg);
    margin-bottom: 0;
  }
}
